PORT=5000
MONGO_URI=mongodb+srv://inventory-management-system:inventory-management-system@cluster0.mongodb.net
DB_NAME=inventoryManagementDB
JWT_SECRET=replace_with_secure_secret
SERVER_URL=http://localhost:5000/api
